@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import 'tailwindcss';


@theme {
  --font-sans: "Inter", sans-serif;

  --color-blue-500: #575c9b;
  --color-blue-600: #4441dd;
  --color-blue-200: #dbe4ff;
  --color-gray-100: #f7f9fb;
  --color-gray-600: #707072;
  --color-gray-700: #242429
}


.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}  

.no-scrollbar-iframe::-webkit-scrollbar {
  display: none;
}

.no-scrollbar-iframe {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}  


.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 6px;
  background:
    conic-gradient(from 135deg at top,currentColor 90deg, #0000 0) 0 calc(50% - 4px)/17px 8.5px,
    radial-gradient(farthest-side at bottom left,#0000 calc(100% - 6px),currentColor calc(100% - 5px) 99%,#0000) top right/50%  50% content-box content-box,
    radial-gradient(farthest-side at top        ,#0000 calc(100% - 6px),currentColor calc(100% - 5px) 99%,#0000) bottom   /100% 50% content-box content-box;
  background-repeat: no-repeat;
  animation: l11 1s infinite linear;
}
@keyframes l11{ 
  100%{transform: rotate(1turn)}
}